.markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown a {
    @apply underline;
  }

  .markdown strong {
    color: #1C546A;
  }

  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }
  
  .markdown h1 {
    @apply text-3xl mt-12 mb-4 leading-snug;
  }
  
  .markdown h2 {
    @apply text-2xl mt-8 mb-4 leading-snug;
  }
  
  .markdown h3 {
    @apply text-xl font-bold underline;
  }

  .markdown h4 {
    @apply font-bold;
  }
  
  .markdown li {
    position: relative;
    list-style: circle;
    margin-left: 20px; 
  }